<%- include('header') %>

<aside class="aside">
    <ul class="menu_ul">
        <li class="menu_li">
            <img src="/icons/home.svg" alt="home icon">
            <span>Rotas</span>
        </li>
        <ul class="submenu_ul">
            <li><a href="/unidadeAlocacao">Unidade Alocação</a></li>
            <li><a href="/itemEstoque">Item Estoque</a></li>
            <li><a href="/material">Material</a></li>
        </ul>
    </ul>
</aside>