<%- include('header') %>

<aside class="aside">
    <ul class="menu_ul">
        <li class="menu_li">
            <span>Rotas</span>
        </li>
        <ul class="submenu_ul">
            <li class="<% if('unidadeAlocacao' === route){ %>li_active<% } %>">
                <a href="/unidadeAlocacao">Unidade Alocação</a>
            </li>
            <li class="<% if('itemEstoque' === route){ %>li_active<% } %>">
                <a href="/itemEstoque">Item Estoque</a>
            </li>
            <li class="<% if('cliente' === route){ %>li_active<% } %>">
                <a href="/cliente">Cliente</a>
            </li>
        </ul>
    </ul>
</aside>