@font-face {
    font-family: merienda;
    font-weight: normal;
    src: url(../fonts/merienda/Merienda-Regular.ttf);
}

@font-face {
    font-family: poppins;
    font-weight: normal;
    src: url(../fonts/poppins/Poppins-Regular.otf);
}

@font-face {
    font-family: poppins-light;
    font-weight: lighter;
    src: url(../fonts/poppins/Poppins-Thin.otf);
}

@font-face {
    font-family: poppins-bold;
    font-weight: bold;
    src: url(../fonts/poppins/Poppins-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "header header header header header"
    "aside  main   main   main  main ";    
    height: 100%;
}

.header{
    grid-area: header;
    display:  flex;
    align-items: center;
    background-color: #559EB9;
    
}

.header > span{
    font-family: merienda, arial, sans-serif;
    color: white;
    padding-left: 50px;
    font-size: 22px;
}

.aside{
    grid-area: aside;
    background-color: #F4F4F4;
}

.menu_ul{
    width: 100%;
    list-style: none;
}

.menu_li{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 4px;
    padding: 6px 0 6px 17px;
}

.menu_li > img{
    margin-right: 7px;
}

.menu_li span{
    font-family: poppins, arial, sans-serif;
    font-weight: 600;
    color: #202223;
    line-height: 22px;
}

.submenu_ul > li{    
    color: #6D7175;
    padding: 10px 0;
}

.li_active{
    color: #0061FF !important;
    background-color: #EDEEEF;
}

.submenu_ul > li > a{
    padding-left: 47px;
    font-family: poppins, arial, sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: inherit;
} 

.main{
    grid-area: main;
    padding: 30px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title > h1{
    color: #2F1160;
}

.title > a{
    margin: 0;
    text-align: center;
}

.container_search{    
    height: 150px;
    background-color: #F4F4F4;
    margin-bottom: 50px;
}

.container_search > span{
    text-align: center;
    font-family: poppins-light, arial, sans-serif;
    font-size: 0.75rem;
    display: block;
    color: white;
    text-transform: uppercase;
    background-color: #559EB9;
    letter-spacing: 1px;
}

.form_search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: calc(100% - 20px);
    padding:  0 50px;
}

.group_search{
    width: 40%;
}

.group_search > label{
    font-family: poppins, arial, sans-serif;
    font-size: 1.125rem;
    color: #2F1160;
}

.input_search{
    outline: none;
    border: 1px solid #2F1160;
    width: 100%;
    padding: 10px;
    font-family: poppins, arial, sans-serif;
    font-size: 1.125rem;
    color: #2F1160;
    background-color: transparent;   
}

.input_submit{
    font-family: poppins-light, arial, sans-serif;
    font-weight: lighter;
    padding: 10px;
    margin-top: 15px;
    width: 230px;
    border: none;
    background-color: #559EB9;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
}

.table_container{
    overflow: auto;
}

.table{
    width: 100%;
    overflow: scroll;
    text-align: left;
    border-collapse: collapse;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.33), -1px -1px 2px rgba(0, 0, 0, 0.12);
}

.table_row > td, .table_row > th{
    padding: 16px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.12);
    
}

.input_value{
    width:100%;
    border: none;
}


